form(method="post", action ="/registro")
 label ID:
 input(type="text", name= "id")
 p
 label Palavra1: 
 input(type="text", name="words_en[0]")
 p
 label Palavra2: 
 input(type="text", name="words_en[1]")
 p
 label Exemplo1: 
 input(type="text", name="Examp[0]")
 p
 label Exemplo2: 
 input(type="text", name="Examp[1]")
 p
 label Exemplo3: 
 input(type="text", name="Examp[2]")
 p
 label Hyper1: 
 input(type="text", name="Hyper[0]")
 p
 label Hypo1: 
 input(type="text", name="Hypo[0]")
 p
 label Hypo2: 
 input(type="text", name="Hypo[1]")
 p
 label Hypo3: 
 input(type="text", name="Hypo[2]")
 p
 label Gloss: 
 input(type="text", name="gloss")
 p
 input(type="submit", value="Registrar Synset")

